.bloghead1{
    color: green;
}
.bloghead2{
    color: green;
}
.mainheading{
    color: green;
}
.container1{
    background-color: aliceblue;
}
.container2{
    background-color: aliceblue;
}
.span1{
    background-color: pink;
}
.span2{
    background-color: pink;
}